@media (max-width: 580px) {
  ul.main_page_choice_buttons .btn {
    width: 250px;
    font-size: 20px;
  }
}

@media (max-width: 350px) {
  ul.main_page_choice_buttons .btn {
    width: 200px;
    font-size: 20px;
  }
}

@media (max-width: 790px) {
  .navbar-desktop {
    display: none;
  }
  .navbar-mobile-icon {
    display: block;
  }
  .navbar-mobile-icon :hover {
    cursor: pointer;
  }
  .no-mobile {
    display: none;
  }
}

.navbar-mobile {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

ul.navbar-mobile {
  margin-left: 10px;
}

.fa-bars {
  font-size: 2em;
  color: grey;
}

.fa-bars :hover {
  cursor: pointer;
  font-size: 3em;
}

.mobileMenuShow {
  display: block;
}

.mobileMenuHide {
  display: none;
}
